<h1 class='textTitle'><%=I18n.translate('title.new_lot')%></h1>
<%if @lot.errors.any?%>
    <div class='errorsContainer'>
        <span><%=I18n.translate('message.verify_errors')%>:</span>
        <ul>
            <%@lot.errors.full_messages.each do |msg| %>
                <li><%=msg%></li>
            <%end%>
        </ul>
    </div>
<%end%>
<%=render 'form'%>