.standartForm,
.new_user{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 0 auto;
}

.inputsGridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: .5rem;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
}

.inputContainer label{
    font-size: 1.1em;
    margin-bottom: .25rem;
}

.inputContainer input{
    padding: .5rem;
    border: 1px solid #a39d9d;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.errorsContainer{
    text-align: center;
    line-height: 25px;
}

.errorsContainer span{
    font-family: 1.2em;
    font-weight: 700;
}

.field_with_errors input{
    border: 2px solid #cc3131;
}

.linksContainer{
    width: 45%;
    margin: 1rem auto;
}

.shortForm{
    text-align: center;
    min-width: 50%
}

.shortForm .inputContainer{
    align-items: center;
}

.shortForm select{
    padding: .5rem;
    border: 1px solid #a39d9d;
    border-radius: 4px;
    width: 30%;
    box-sizing: border-box;
}

.shortForm .btnSubmit{
    width: 20%;
    font-size: 1em;
}