.lotDescriptionContainer{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lotsContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    margin: 2rem auto;
}

.lotContainer{
    width: 45%;
    border: 2px solid #ffffff;
    border-radius: 6px;
    padding: 1rem;
    box-sizing: border-box;
}

.lotContainerTitle{
    text-align: center;
    margin: 0 0 .75rem 0;
}

.lotsLinksContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    text-align: center;
}

.pendingLotsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 0 auto;
    column-gap: .5rem;
}

.pendingLotContainer{
    text-align: center;
    border: 2px solid #ffffff;
    border-radius: 4px;
    padding: .5rem;
}

.pendingLotContainer span{
    display: block;
}

.lotResultsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    width: 90%;
    margin: 0 auto;
}

.resultContainer{
    border: 2px solid #ffffff;
    border-radius: 4px;
    padding: .5rem;
}

.itemsList h3{
    margin-top: .5rem;
}

.itemsList ul{
    margin: .25rem 0;
}

.itemsList li{
    padding-left: .7rem;
}
