.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    box-sizing: border-box;
}

.menuLinksContainer a:not(:first-child){
    margin: 0 .5rem;
}